<!-- About Section -->
{% extends 'base.html'%}
{% block title %}About {% endblock %}
{% block content %}
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4"> About</h2>
            <p class="text-white-50">Essence is an inventory system that processes the daily sales made by an organization for easier tabulation and analysis.</p>
        </div>
      </div>
      <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
  </section>
{% endblock %}